* {
  margin: 0;
  padding: 0;
}

header {
  // headerの幅めいいっぱいに
  width: 100%;
  padding: 25px 10px 0 0;
  margin: 0 auto;
  //文字(ロゴ)の中央寄せ
  text-align: center;
  // ロゴに背景色をつける
  background-color: rgb(243, 182, 240);
}

.headline {
  // ロゴ文字の大きさ指定
  font: size 32px;
  // ロゴ文字色の変更
  color: #6d6767;
}
.nav-list {
  // 文字(リスト)の中央寄せ
  text-align: center;
  padding: 10px 0;
  //要素自体を中央寄せ
  margin: 0 auto;
}
.nav-list-item {
  // 箇条書きの点をなくす
  list-style: none;
  //   インラインブロック要素にして横並びにした
  display: inline-block;
  // 左右幅20pxにした
  margin: 0 20px;
  //文字色をつける
  color: #6d6767;
}
// ここからmainにはいる
// 箇条書きリストを中央寄せにする
main {
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  // headerとの間隔を空ける
  margin-top: 20px;
}
.list2{
  // 箇条書きリストに線を引く
  border-width: 1.5px;
  border-style: solid;
  // 線の色付け
  border-color: #d0e4f1;
  // 背景画像の設定
  background-image: url(glitter.jpg);
  // リストのflexbox指定
  display: flex;
  // リストの横並び指定
  flex-direction: row;
  // リストの均等配置
  justify-content: space-around;
}
.list-item {
  list-style: none;
  margin: 0 0;
  // リストの線と上下幅を取りたい
  padding: 10px 20px;
  // 文字色の指定
  color: #6d6767;
}
// 表を中央寄せにする
table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

// ここからフォーム作成のところ
.contact{
  margin-top: 20px;
  margin-bottom: 20px;
  // display: flex;
  // justify-content: space-around;
  // flex-direction: row;
  // align-items: center;
}
// .form{
//   padding: 10px;
//   display: flex;
//   align-items: baseline;
// }
// .formleft{
//   display: flex;
//   flex-direction: column;
// }
footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #9bcce9;
}
footer p {
  color: #fff;
}
